/*-----------------------------------------------------------------------------
| JupyterLab Pull Requests Style
|----------------------------------------------------------------------------*/

.jp-PullRequestBrowser {
  background-color: var(--jp-layout-color1);
  margin: 0;
  height: 100vh;
  font-size: var(--jp-ui-font-size1);
}

.jp-PullRequestBrowser ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem header {
  flex: 0 0 auto;
  align-items: center;
  height: 28px;
  display: flex;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  padding-top: 8px;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem header h2 {
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--jp-ui-font-color1);
  padding: 8px 8px 8px 12px;
  margin: 0;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemList .jp-PullRequestBrowserItemListItem {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemList .jp-PullRequestBrowserItemListItem:hover {
  background-color: var(--jp-layout-color2);
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemList .jp-PullRequestBrowserItemListItem h2 {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  font-weight: 400;
  padding: 4px 4px 4px 12px;
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemList .jp-PullRequestBrowserItemListItem .jp-PullRequestBrowserItemListItemIconWrapper {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 4px 12px 4px 4px;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemList .jp-PullRequestBrowserItemListItem span {
  margin: 0;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemList .jp-PullRequestBrowserFileItem {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 12px;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemList .jp-PullRequestBrowserFileItem:hover {
  background-color: var(--jp-layout-color2);
}

.jp-PullRequestBrowserFileItem .jp-PullRequestBrowserFileItemIcon {
  background-repeat: no-repeat;
  margin-right: 4px;
}

.jp-PullRequestBrowserFileItem .jp-PullRequestBrowserFileItemName {
  color: var(--jp-ui-font-color1);
}

.jp-PullRequestBrowserFileItem .jp-PullRequestBrowserFileItemChanged {
  color: var(--jp-ui-font-color2);
  font-size: 10px;
  height: 10px;
  margin-left: 5px;
}

.jp-PullRequestBrowserFileItem .jp-PullRequestBrowserFileItemDiff {
  flex: 1;
  display: flex;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4px;
}

.jp-Icon-13 {
  margin: 0;
  min-width: 13px;
  min-height: 13px;
  background-size: 13px;
}

.jp-PullRequestBrowserFileItem .jp-PullRequestBrowserFileItemDiffText {
  color: var(--jp-ui-font-color2);
  font-size: 11px;
}

.jp-PullRequestBrowser .jp-PullRequestBrowserItem .jp-PullRequestBrowserItemError {
  font-size: var(--jp-ui-font-size0);
  font-weight: 400;
  letter-spacing: 1px;
  padding: 4px 12px 4px 12px;
  margin: 0;
  line-height: normal;
  background: var(--jp-rendermime-error-background);
  color: #e75c58;
}

.jp-PullRequestToolbar {
  /* border-bottom: var(--jp-border-width) solid var(--jp-border-color2); */
  border-bottom: none;
  box-shadow: none;
  padding: 0;
}

.jp-PullRequestToolbar .jp-PullRequestToolbarHeader {
  padding: 0;
}

.jp-PullRequestToolbar .jp-PullRequestToolbarHeader h2 {
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--jp-ui-font-color1);
  padding: 8px 12px;
  margin: 0;
  line-height: normal;
}

.jp-PullRequestToolbar .jp-PullRequestToolbarItem {
  flex: 1;
  justify-content: flex-end;
  padding: 2px 5px;
}

.jp-PullRequestTab {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.jp-PullRequestTab .jp-PullRequestDescriptionTab {
  margin: 16px;
}

.jp-PullRequestTab .jp-PullRequestDescriptionTab * {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.jp-PullRequestTab .jp-PullRequestDescriptionTab h1 {
  font-size: var(--jp-ui-font-size3);
  color: var(--jp-ui-font-color0);
  font-weight: 600;
}

.jp-PullRequestTab .jp-PullRequestDescriptionTab h2 {
  font-size: var(--jp-ui-font-size);
  color: var(--jp-ui-font-color2);
  font-weight: 400;
}

.jp-PullRequestTab .jp-PullRequestTabLoadingContainer {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.jp-PullRequestTab .jp-PullRequestTabError {
  font-size: var(--jp-ui-font-size1);
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px;
  margin: 0;
  line-height: normal;
  background: var(--jp-rendermime-error-background);
  text-align: center;
  color: #e75c58;
}

.jp-PullRequestTab .jp-PullRequestComment {
  background-color: var(--jp-layout-color1);
  padding: 4px;
  border-top: var(--jp-border-width) solid var(--jp-border-color0);
  box-shadow: 0 var(--jp-border-width) 0 var(--jp-border-color0); /* prevents double border */
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestCommentHeader {
  display: flex;
  flex: 1;
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestCommentHeader p {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  font-weight: 400;
  margin: 0;
  padding-left: 4px;
  line-height: 20px;
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestCommentHeader span {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestInputContainer {
  padding: 8px 16px;
  font-size: var(--jp-ui-font-size1);
  font-weight: 400;
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestInputContainer .jp-PullRequestInputButtonContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestInputContainer .jp-PullRequestInputButtonContainer button {
  margin-top: 4px;
  margin-left: 4px;
}

.jp-PullRequestInputContainer button.jp-Button-flat.jp-mod-styled.jp-mod-accept:disabled {
  opacity: 0.4;
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestInputForm {
  color: var(--jp-ui-font-color0);
  font-size: var(--jp-ui-font-size1);
  background-color: var(--jp-layout-color1);
  border: var(--jp-border-width) solid var(--jp-border-color0);
  background-position: right 8px center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px var(--jp-layout-inverse-color1);
  line-height: 20px;
  min-height: 34px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
  width: 100%;
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestInputFormButton {
  cursor: text;
  display: inline-block;
  min-height: 28px;
  padding: 3px 8px;
  width: 100% !important;
  text-align: left;
  color: var(--jp-inverse-layout-color3);
}

.jp-PullRequestTab .jp-PullRequestComment .jp-PullRequestInputFormTextArea {
  display: block;
  max-height: 500px;
  min-height: 100px;
  padding: 8px;
  width: 100%;
  resize: none;
  box-sizing:border-box;
}

.jp-PullRequestCommentItem {
  display: flex;
  margin: 0;
  padding: 8px 16px;
}

.jp-PullRequestCommentItem .jp-PullRequestCommentItemContent {
  display: block;
  padding-left: 16px;
}

.jp-PullRequestCommentItem .jp-PullRequestCommentItemContent h2 {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color0);
  font-weight: 600;
  margin: 0;
}

.jp-PullRequestCommentItem .jp-PullRequestCommentItemContent p {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  font-weight: 400;
  padding-top: 4px;
  margin: 0;
}

.jp-PullRequestCommentItem .jp-PullRequestCommentItemContent .jp-PullRequestCommentItemContentTitle {
  display: flex;
}

.jp-PullRequestCommentItem .jp-PullRequestCommentItemContent .jp-PullRequestCommentItemContentTitle p {
  color: var(--jp-ui-font-color2);
  margin-left: 4px;
  padding: 0;
}

.jp-PullRequestCommentItem .jp-PullRequestCommentItemImg img {
  height: 28px;
  width: 28px;
  border-radius: 3px;
}

.jp-PullRequestCommentDecoration {
  background-image: url(icons/pullrequest-plus.svg), linear-gradient(var(--jp-brand-color1), var(--jp-brand-color1));
  border-radius: var(--jp-border-radius);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px !important;
  height: 18px !important;
  margin-left: 2px;
  z-index: 1;
  transition: all .2s ease-in-out;
}

.jp-PullRequestCommentDecoration:hover {
  transform: scale(1.2);
}

.jp-PullRequestTab .monaco-editor .margin-view-overlays .line-numbers {
  text-align: right !important;
}

[data-jp-theme-light='true'] .jp-PullRequestTab .monaco-editor .current-line ~ .line-numbers {
  color: var(--jp-ui-font-color0);
}

[data-jp-theme-light='false'] .jp-PullRequestTab .monaco-editor .current-line ~ .line-numbers {
  color: var(--jp-ui-font-color2);
}

.jp-PullRequestTab .monaco-diff-editor .editor.modified .margin {
  z-index: 1;
}

.jp-PullRequestTab .monaco-diff-editor .editor.modified .overlayWidgets {
  z-index: 2;
}

.jp-Notebook-diff .CodeMirror-gutter.CodeMirror-linenumbers[style] {
  width: 29px !important;
}

.jp-Notebook-diff .CodeMirror-sizer[style] {
  margin-left: 47px !important;
}

.parent-diff-widget {
  overflow: auto;
}

.jp-PullRequestCellDiff {
  display: flex;
  padding-bottom: 10px;
}

.jp-PullRequestCellDiffCommentContainer {
  position: relative;
  width: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.jp-PullRequestCellDiff .jp-PullRequestCellDiffCommentContainer .jp-PullRequestCellDiffComment {
  width: 100%;
  height: 100%;
  border: 2px solid var(--jp-brand-color1);
  border-radius: var(--jp-border-radius);
  border-left: 0;
  transition: all .2s ease-in-out;
}

.jp-PullRequestCellDiff .jp-PullRequestCellDiffCommentContainer .jp-PullRequestCellDiffComment:hover {
  transform: scale(1.1);
}

.jp-PullRequestCellDiff .jp-PullRequestCellDiffCommentContainer .jp-PullRequestCellDiffComment .jp-PullRequestCommentDecoration {
  position: absolute;
  margin-left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.jp-PullRequestCellDiff .jp-PullRequestCellDiffContent {
  flex: 1;
}

@media (min-width: 1000px) {
  .jp-PullRequestTab .jp-PullRequestNBDiff .jp-PullRequestComment {
    width: 49%;
    margin-left: 50%;
  }
}